<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="realm" ref="shiroRealm"/>
    </bean>
    
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/index"/>
        <property name="successUrl" value="/home/success"/>
        <property name="unauthorizedUrl" value="/unauthorized"/>
        
        <property name="filterChainDefinitions">
            <value>
                /index = anon
                /user/shiro-login = anon
                /images/** = anon
               	/static/** = anon
               	/test/** = anon
               	
                /shiro-logout = logout
               	
               	/chance/** = roles[chance]
               	/customer/** = roles[customer]
               	/product/** = roles[product]
               	/user/** = roles[user]
               	
                /** = authc
            </value>
        </property>
    </bean>

</beans>
